<section class="hero wa-stack wa-align-items-center">
  <wa-icon name="check-to-slot" class="round-bg blue large"></wa-icon>
  <div class="wa-stack wa-gap-0">
    <h1 class="title">Nix Steering Committee</h1>
    <h1 class="subtitle">Election 2025</h1>
  </div>
  <p class="description">
    Register your email address to participate in the democratic process
    of selecting the Nix community's steering committee members.
  </p>
</section>
