<wa-callout variant="danger">
  <wa-icon slot="icon" name="circle-exclamation"></wa-icon>
  <div class="wa-stack wa-gap-s">
    <h1 class="wa-heading-s"><%= title %></h1>
    <span><%- message %>.</span>
    <a href="/">Go back home.</a>
  </div>
</wa-callout>
