<section class="error wa-stack wa-align-items-center">
  <h1 class="wa-heading-xl"><%= title %></h1>
  <p><%- message %></p>
  <wa-button href="/" size="large" variant="neutal">
    <wa-icon slot="start" name="house"></wa-icon>
    Back Home
    <wa-icon slot="end" name="arrow-right"></wa-icon>
  </wa-button>
  <% if (locals.enableReport) { %>
  <a href="<%= footerLinks.sourceRepo %>/issues/new" target="_blank">Report issue</a>
  <% } %>
</section>
