<%- include('parts/hero'); %>
<section class="registration wa-stack wa-align-items-center">
  <% if (!locals.eligibility?.isEligible) { %>
  <wa-callout variant="danger">
    <wa-icon slot="icon" name="circle-exclamation"></wa-icon>
    <strong>Sorry, you're not an eligible voter for this election.</strong><br />
    If you feel you should be included and have good reasons to think so, please feel free to <a href="<%= electionsEmail %>">reach out via email</a>.
  </wa-callout>
  <% } else { %>
  <wa-callout variant="success">
    <wa-icon slot="icon" name="circle-check"></wa-icon>
    <strong>Congratulations, you're eligible!</strong><br />
    <%_ if (locals.eligibility.isRegistered) { _%>
    It seems you have already registered an email, but you can still update it if you wish to.
    <%_ } else { _%>
    Don't panic if you see the field already filled! We used your email registered at GitHub as a suggestion, you can change it if you wish to, or send the form as-is.
    <%_ } _%>
  </wa-callout>
  <form class="input-validation-required wa-stack wa-gap-xs" method="post">
    <wa-input
      type="email"
      name="email"
      label="Email"
      <%_ if (locals.eligibility?.email) { _%>
      value="<%= eligibility.email %>"
      <%_ } _%>
      required
      with-clear
    ></wa-input>
    <wa-button type="submit" variant="brand">
      <%_ if (locals.eligibility.isRegistered) { _%>
        Update my email
      <%_ } else { _%>
        Register this email
      <%_ } _%>
    </wa-button>
  </form>
  <% } %>
</section>
